body{
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin:0;
}
h1{
    font-size: 60px;
    margin-left: 10px solid purple;
}
.margin{
    padding-left: 10px;
    border-left-style:solid;
    border-color: purple;
    border-width: 5px;
}
.purple{
    color: rgb(247, 81, 247);
}
p{
    font-size: 25px;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-top: 60px;
    padding-left: 200px;
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    color:white;
    font-weight: 700;
    background-image: linear-gradient(purple,rgb(247, 81, 247));
    padding:10px 30px;
    border-radius: 8px;
}
.h1{
    text-align: center;
    margin-left: 200px;
}
.box{
    margin-left: 25px;
    width: 25%;
    padding: 6%;
    
    
    
}
.box-img{
    padding-bottom: 120px;
    height: 35px;
    width: 175px;
}
.box-img img{
    width: 100%;
}
#img1{
    background-size: 80%;
    background-color: rgba(245, 244, 155, 0.637);
    border-radius: 40px;
}
#img2{
    background-color: rgba(245, 164, 155, 0.637);
    border-radius: 40px;
}
#img3{
    background-color: rgba(164, 155, 245, 0.637);
    border-radius: 40px;
}
.half{
    width: 50%;
    padding-right: 150px;
}
.half img{
    width: 70%;
    padding-left: 250px;
}
.half1{
    width: 50%;
    padding-left: 250px;
    
}
.half1 img{
    width: 70%;
    padding-right: 150px;
}
.about{
    width: 50%;
    padding-left: 300px;
    padding-bottom: 5px;
    background-color: rgb(252, 177, 239);
}
.about img{
    width: 70%;
    padding: 30px;
    border-radius: 80px;

}
li{
    width: 785%;
    text-decoration: none;
    font-size: 40px;

}
.about-me{
    padding: 0;
    margin: 0;
}
.footer{
    text-align: center;
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 20px;
}
#footer{
    color: chartreuse;
}
